
:root {
	--font-size: 12px;
	--button-font-size: 14px;
	--font-family: "LucidaGrande", sans-serif;
	--bg: #232323;
	--font: #FFFFFF;
	--disabled: #878787;
	--border: #000000;
	--input-bg: #0f0f0f;
	--input-grad1: #323232;
	--input-grad2: #282828;
	--disabled-grad1: #323232;
	--disabled-grad2: #282828;
	--highlight-grad1: #323232;
	--highlight-grad2: #282828;
}

body {
	margin: 0;
	font-size: var(--font-size);
	font-family: var(--font-family);
	color: var(--font);
	letter-spacing: 0.5px;
	font-weight: 100;
	background-color: var(--bg);
}

* {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

button {
	font-size: var(--button-font-size);
}

button,
select,
input[type=text],
input[type=button],
input[type=submit] {
	border-color: var(--border);
	background-image: -webkit-linear-gradient(top, var(--input-grad1), var(--input-grad2));
}

input[type=text] {
	padding:1px 3px;
	background-color: var(--input-bg);
	background-image: unset;
}
input[type=text]:focus {
	background-color: #ffffff;
	color: #000000;
}

button:enabled:active,
input[type=button]:enabled:active,
input[type=submit]:enabled:active {
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

button,
select,
input[type=button],
input[type=submit] {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

[disabled] {
	background-image: -webkit-linear-gradient(top, var(--disabled-grad1), var(--disabled-grad2));
	color: var(--disabled);
}

button:enabled:active,
input[type=button]:enabled:active,
input[type=submit]:enabled:active {
	background-image: -webkit-linear-gradient(top, var(--highlight-grad1), var(--highlight-grad2));
}

p {
	text-align:center;
}

a {
    text-decoration: underline;
}

button
{
	border: 1px solid;
	min-height:20px;
}

input[type=text]
{
	height:12px;
}

#content {
	margin-right:auto;
	margin-left:auto;
	vertical-align:middle;
	width:100%;
}

#content ul {
	padding:0px;
}

#content ul li {
	margin:3px 0px 3px 0px;
}

.panel {
	text-align: left;
	border: 1px solid #333;
	margin-bottom: -1px;
	padding: 5px 10px;

	h1 {
		font-size: 1em;
		margin: 2px 0;
	}

	> * {
		display:block;
	}
}