:root {
	--font-size: 12px;
	--button-font-size: 14px;
	--font-family: "LucidaGrande", sans-serif;
	--bg: #232323;
	--font: #ffffff;
	--disabled: #878787;
	--border: #000000;
	--input-bg: #0f0f0f;
	--input-grad1: #323232;
	--input-grad2: #282828;
	--disabled-grad1: #323232;
	--disabled-grad2: #282828;
	--highlight-grad1: #323232;
	--highlight-grad2: #282828;
}

body {
	margin: 0;
	font-size: var(--font-size);
	font-family: var(--font-family);
	color: var(--font);
	letter-spacing: 0.5px;
	font-weight: 100;
	background-color: var(--bg);
}

* {
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

button,
select,
input[type="text"],
input:not([type]),
input[type="button"],
input[type="submit"] {
	border-color: var(--border);
	background-image: -webkit-linear-gradient(top, var(--input-grad1), var(--input-grad2));

	&[disabled] {
		background-image: -webkit-linear-gradient(top, var(--disabled-grad1), var(--disabled-grad2));
		color: var(--disabled);
	}

	option {
		background: var(--input-grad1);
		border: none;
	}
	&:focus {
		outline: inherit;
	}
}

input[type="text"],
input:not([type]) {
	padding: 1px 3px;
	background-color: var(--input-bg);
	background-image: unset;

	border-radius: 3px;
	border: 1.5px var(--input-grad2) solid;

	&:focus {
		background-color: #ffffff;
		color: #000000;
		border-color: var(--highlight-grad1);
	}
}

button,
select,
input[type="button"],
input[type="submit"] {
	font-size: var(--button-font-size);
	border: 1px solid;
	min-height: 20px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);

	&:enabled:active {
		box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	}

	&.small {
		padding: 0 5px;
		text-transform: uppercase;
		font-size: calc(var(--button-font-size) * 0.75);
		font-weight: 800;
		letter-spacing: 0.5px;
	}
}

button:enabled:active,
input[type="button"]:enabled:active,
input[type="submit"]:enabled:active {
	background-image: -webkit-linear-gradient(top, var(--highlight-grad1), var(--highlight-grad2));
}

p {
	text-align: center;
}

a {
	text-decoration: underline;
}

#app {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#content {
	display: flex;
	flex-direction: column;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#content ul {
	padding: 0px;
}

#content ul li {
	margin: 3px 0px 3px 0px;
}

.panel {
	text-align: left;
	border: 1px solid #333;
	margin-bottom: -1px;
	padding: 16px 10px 10px;
	flex-grow: 0;

	h1 {
		font-size: 1em;
		margin: 2px 0;
	}

	>* {
		display: block;
		margin-bottom: 6px;
	}

	>.sub {
		text-align: center;
		background: rgba($color: #fff, $alpha: 0.1);
		padding: 5px;
		border-radius: 2px;

		>* {
			margin: 5px;
		}
	}
}

.code {
	background: #000;
	border-radius: 4px;
	padding: 5px;
	white-space: pre;
}

.labelled {
	position: relative;
	display: flex;
	flex-direction: row;
	text-align: left;
	width: 100%;
	margin: 1px 0;
	align-items: center;
	background: rgba($color: #fff, $alpha: 0.1);

	&.selected {
		background: rgba($color: #fff, $alpha: 0.25);
	}

	.label,
	.info {
		width: 30px;
		margin: 4px 0;
		min-width: fit-content;
		margin: 0 4px;
	}

	.value {
		min-width: 50px;
	}

	.info {
		font-size: 0.8em;
		font-weight: 600;
		background: rgba($color: #fff, $alpha: 0.2);
		padding: 4px 10px;
		border-radius: 10px;

		&.highlight {
			background-image: -webkit-linear-gradient(top, var(--highlight-grad1), var(--highlight-grad2));
		}
	}

	.label,
	.value {
		flex-grow: 1;
	}
}

.warning {
	margin: 4px;
	background: #FFF99F;
	color: #000;
	padding: 4px;
	border-radius: 3px;
}


.list-item {
	&:first-child {
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}

	&:last-child {
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
	}
}

.speaker-item {
	@extend .labelled;
	@extend .list-item;

	margin: 2px;
	padding: 3px 6px 7px;
	flex-direction: column;
	box-sizing: border-box;
	position: relative;

	>* {
		margin: 3px 0;
		flex-shrink: 0;
		box-sizing: border-box;
	}

	>.labelled {
		background: unset;
	}

	.label {
		flex-shrink: 3;
		overflow: hidden;
		min-width: 50px;
	}

	.speaker-rows {
		width: 100%;

		.speaker-row {
			@extend .list-item;

			width: 100%;
			transition: height 0.2s;
			flex-direction: column;
			overflow: hidden;
			background: #444;

			&.header,
			.header {
				@extend .labelled;

				background: #333;
				box-sizing: border-box;

				margin: 0;
				text-transform: uppercase;


				padding: 4px 5px;

				.label-sup {
					margin-right: 10px;
					min-width: 60px;
					color: rgba(255,255,255,0.2);
					font-weight: bold;
				}

				.label {
					font-weight: 800;
				}

				>* {
					transition: opacity 0.2s;
				}
			}


			&.minimised {
				height: 3px;
				border: unset;

				&.header ,
				.header {
					opacity: 0;
					height: 0;
					padding: 0;
				}
				.progress {
					opacity: 1;
				}
			}
			&.hidden {
				height: 0;
				padding: 0;
				margin: 0;
				border: none;
			}
		}
	}


	&.needs-action,
	.needs-action {
		border: 2px #caac00 solid;
	}

	.idle {
		background: #222 !important;
	}

	.warn {
		background: #caac00 !important;
		color: #000 !important;
	}

	.doing {
		background: #006600 !important;
	}

	// .done,
	// .success {
	// 	background: #000055 !important;
	// }

	.failed {
		background: #990000 !important;
	}

	.cancelled {
		background: #333 !important;
		color: #ddd !important;
	}
}

.buttons {
    text-align: right;
	
	button {
		margin-left: -1px;

		&:first-child {
			border-bottom-left-radius: 4px;
			border-top-left-radius: 4px;
		}

		&:last-child {
			border-bottom-right-radius: 4px;
			border-top-right-radius: 4px;
		}
	}
}